<%- include('./partials/header.ejs') %> 
    <h1><%= book.title %></h1>
    <ul>
      <li><b>Author:</b> <a href="/books/author/<%= book.author %>"><%= book.author %></a></li>
      <li><b>Year:</b> <%= book.year_written %></li>
      <li><b>edition:</b> <%= book.edition %></li>
      <li><b>Price:</b>$ <%= book.price %></li>
    </ul>
    <img src="<%= book.cover %>" style="max-width: 200px;" />

    <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>

    </br></br>

    <% if (locals.user && user.id == book.user_id) { %>
      <form action="/books/<%= book.id %>/delete" method="post">
        <input class="btn btn-danger" type="submit" value="Borrar">
      </form>
    <% } %>
<%- include('./partials/footer.ejs') %> 