<%- include('./partials/header.ejs') %> 
    <h1><%= book.title %></h1>
    <ul>
      <li><b>Author:</b> <a href="/books/author/<%= book.author %>"><%= book.author %></a></li>
      <li><b>Year:</b> <%= book.year_written %></li>
      <li><b>edition:</b> <%= book.edition %></li>
      <li><b>Price:</b>$ <%= book.price %></li>
    </ul>
    <img src="<%= book.cover %>" style="max-width: 200px;" />
<%- include('./partials/footer.ejs') %> 